﻿@model HLTERP.Models.Paidin

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Paidin</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Course)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Course)
            @Html.ValidationMessageFor(model => model.Course)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PayerName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PayerName)
            @Html.ValidationMessageFor(model => model.PayerName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PaidAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PaidAmount)
            @Html.ValidationMessageFor(model => model.PaidAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReceiverName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReceiverName)
            @Html.ValidationMessageFor(model => model.ReceiverName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReceiptNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReceiptNo)
            @Html.ValidationMessageFor(model => model.ReceiptNo)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    }
