﻿@model HLTERP.Models.Paidin

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Paidin</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Course)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Course)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PayerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PayerName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PaidAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PaidAmount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReceiverName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReceiverName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReceiptNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReceiptNo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
