﻿@model HLTERP.Models.Paidin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Paidin</legend>
    <table>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Date)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Date)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Course)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Course)
                </div>
            </td>
            
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.PayerName)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.PayerName)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.PaidAmount)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.PaidAmount)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.ReceiverName)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.ReceiverName)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.ReceiptNo)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.ReceiptNo)
                </div>
            </td>
        </tr>
    </table>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
