﻿@model IEnumerable<HLTERP.Models.Paidin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model) {
<fieldset >
    <legend>Paidin</legend>
    <table>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Date)
                </div>
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        <td rowspan="6">
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Course)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.Course)
                </div>
            </td>

        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.PayerName)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.PayerName)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.PaidAmount)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.PaidAmount)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.ReceiverName)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.ReceiverName)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.ReceiptNo)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.ReceiptNo)
                </div>
            </td>
        </tr>
       
    </table>
</fieldset>
}

@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiverName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiptNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaidAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiverName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiptNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
