﻿@model HLTERP.Models.StartBatch

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>StartBatch</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.BatchName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BatchName)
            @Html.ValidationMessageFor(model => model.BatchName)
        </div>
       
        <div class="editor-label">
            @Html.LabelFor(model => model.CourseName)
        </div>
        <div class="editor-field">
            @Html.ListBoxFor(model => model.SelectedCourseList,
            new MultiSelectList(ViewBag.CoursesList,"value","Text"))
            @Html.ValidationMessageFor(model => model.SelectedCourseList)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FacultyName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FacultyName)
            @Html.ValidationMessageFor(model => model.FacultyName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FromTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FromTime)
            @Html.ValidationMessageFor(model => model.FromTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ToTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ToTime)
            @Html.ValidationMessageFor(model => model.ToTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpectedEndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpectedEndDate)
            @Html.ValidationMessageFor(model => model.ExpectedEndDate)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
  
}
