﻿@model HLTERP.Models.StartBatch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>StartBatch</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BatchName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BatchName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CourseName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FacultyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FacultyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FromTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FromTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ToTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ToTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExpectedEndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpectedEndDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.BatchId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
