﻿@model HLTERP.Models.StartBatch

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>StartBatch</legend>

        @Html.HiddenFor(model => model.BatchId)

        <div class="editor-label">
            @Html.LabelFor(model => model.BatchName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BatchName)
            @Html.ValidationMessageFor(model => model.BatchName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CourseName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CourseName)
            @Html.ValidationMessageFor(model => model.CourseName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FacultyName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FacultyName)
            @Html.ValidationMessageFor(model => model.FacultyName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FromTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FromTime)
            @Html.ValidationMessageFor(model => model.FromTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ToTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ToTime)
            @Html.ValidationMessageFor(model => model.ToTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpectedEndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpectedEndDate)
            @Html.ValidationMessageFor(model => model.ExpectedEndDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
   
}
