﻿@model IEnumerable<HLTERP.Models.StartBatch>

@{
    ViewBag.Title = "Index";
}

<h2>Enter the details of new Batch</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <fieldset>
        <legend>Faculty</legend>
        <table>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.BatchName)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.BatchName)
                    </div>
                </td>
                <td rowspan="9">
                   @Html.ActionLink("Edit", "Edit", new { id = item.BatchId }) |
                   @Html.ActionLink("Details", "Details", new { id = item.BatchId }) |
                   @Html.ActionLink("Delete", "Delete", new { id = item.BatchId })
                   @Html.ActionLink("Add Student", "AddStudents", new { id = item.BatchId }, null)
                </td>
            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.CourseName)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.FacultyName)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.FacultyName)
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.FromTime)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.FromTime)
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.ToTime)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.ToTime)
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.StartDate)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.ExpectedEndDate)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.ExpectedEndDate)
                    </div>
                </td>
            </tr>
            
        </table>
    </fieldset>
}
@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BatchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacultyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedEndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BatchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacultyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpectedEndDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BatchId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BatchId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BatchId })
            @Html.ActionLink("Add Student", "AddStudents", new { id=item.BatchId},null)
        </td>
    </tr>
}

</table>*@
