﻿@model HLTERP.Models.InvoiceBilling

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>InvoiceBilling</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReceiptNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReceiptNo)
            @Html.ValidationMessageFor(model => model.ReceiptNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactNum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactNum)
            @Html.ValidationMessageFor(model => model.ContactNum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmailId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailId)
            @Html.ValidationMessageFor(model => model.EmailId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Particular)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Particular)
            @Html.ValidationMessageFor(model => model.Particular)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NormalPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NormalPrice)
            @Html.ValidationMessageFor(model => model.NormalPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OfferedPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfferedPrice)
            @Html.ValidationMessageFor(model => model.OfferedPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TotalAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TotalAmount)
            @Html.ValidationMessageFor(model => model.TotalAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BalanceAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BalanceAmount)
            @Html.ValidationMessageFor(model => model.BalanceAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModeOfPayment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModeOfPayment)
            @Html.ValidationMessageFor(model => model.ModeOfPayment)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DueDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DueDate)
            @Html.ValidationMessageFor(model => model.DueDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TermsAndCondition)
        </div>
        <div>
            <ol>
                <li> Money once paid will not be refunded.<br /></li>
                <li>Students should strictly adhere to the batch timings specified during admission.<br /></li>
                <li>Students must follow all the rules and regulations of the company.<br /></li>
                <li>
                    Students must pay the installments within deadlines,
                    if not paid institution can term inate the course immedietly/take necessary action.<br />
                </li>
                <li>Sourcecode/any other delivaryables are provided only once the complete fee payment is done.<br /></li>
                <li>
                    Hopelight Technologies accept no liability for delay of non fulfilment of
                    any industrial dispute.Default by any subcontractor,strike,accident,fire scarcity of
                    material or labour or flood,roit,terrrorism or any cause not directly within its control.<br />
                </li>

            </ol>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TermsAndCondition)
            @Html.ValidationMessageFor(model => model.TermsAndCondition)
            
                I Agree for above mentioned Terms and conditons
          
         </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReceviedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReceviedBy)
            @Html.ValidationMessageFor(model => model.ReceviedBy)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
   
}
