﻿@model HLTERP.Models.InvoiceBilling

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>InvoiceBilling</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReceiptNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReceiptNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmailId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Particular)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Particular)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NormalPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NormalPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OfferedPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OfferedPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalAmount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BalanceAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BalanceAmount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModeOfPayment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModeOfPayment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DueDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DueDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TermsAndCondition)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TermsAndCondition)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReceviedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReceviedBy)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
