﻿@model HLTERP.Models.InvoiceBilling

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>InvoiceBilling</legend>

        @Html.HiddenFor(model => model.InId)

        <div class="editor-label">
            @Html.LabelFor(model => model.ReceiptNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReceiptNo)
            @Html.ValidationMessageFor(model => model.ReceiptNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactNum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactNum)
            @Html.ValidationMessageFor(model => model.ContactNum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmailId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailId)
            @Html.ValidationMessageFor(model => model.EmailId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Particular)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Particular)
            @Html.ValidationMessageFor(model => model.Particular)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NormalPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NormalPrice)
            @Html.ValidationMessageFor(model => model.NormalPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OfferedPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfferedPrice)
            @Html.ValidationMessageFor(model => model.OfferedPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TotalAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TotalAmount)
            @Html.ValidationMessageFor(model => model.TotalAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BalanceAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BalanceAmount)
            @Html.ValidationMessageFor(model => model.BalanceAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModeOfPayment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModeOfPayment)
            @Html.ValidationMessageFor(model => model.ModeOfPayment)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DueDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DueDate)
            @Html.ValidationMessageFor(model => model.DueDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TermsAndCondition)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TermsAndCondition)
            @Html.ValidationMessageFor(model => model.TermsAndCondition)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReceviedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReceviedBy)
            @Html.ValidationMessageFor(model => model.ReceviedBy)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
  
}
