﻿@model PagedList.IPagedList<HLTERP.Models.InvoiceBilling>

@{
    ViewBag.Title = "Index";
}

<h2>List of bill</h2>
<form method="get" action="@Url.Action("Index")"
      data-otf-ajax="true" data-otf-target="#InvoiceBilling">
    <input type="search" name="searchTerm" />
    <input type="submit" value="Searcn By Name"/>
</form>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <fieldset>
        <legend>Invoice</legend>

        <table>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.InId }) |
                    @Html.ActionLink("Print", "Print", new { id = item.InId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.InId })

                </td>

            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Address)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.Address)
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.Date)
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ContactNum)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.ContactNum)
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().EmailId)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.EmailId)
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Particular)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.Particular)
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().NormalPrice)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.NormalPrice)
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().OfferedPrice)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.OfferedPrice)
                    </div>
                </td>
            </tr>
            <tr>

                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().TotalAmount)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.TotalAmount)
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().BalanceAmount)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.BalanceAmount)
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ModeOfPayment)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.ModeOfPayment)
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().DueDate)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        Terms and Conditions Accepted
                    </div>
                </th>
                <td>
                
                   @Html.ValidationMessageFor(modelitem => item.TermsAndCondition)
                   
                </td>
            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ReceviedBy)
                    </div>
                </th>

                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.ReceviedBy)
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
}

@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReceiptNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Particular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NormalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfferedPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BalanceAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeOfPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TermsAndCondition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceviedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiptNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Particular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NormalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfferedPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BalanceAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModeOfPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TermsAndCondition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceviedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InId })
        </td>
    </tr>
}

</table>*@
