﻿@model IEnumerable<HLTERP.Models.Invoice>

@{
    ViewBag.Title = "InvoiceBilling";
}

<h2>InvoiceBilling</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReceiptNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Particular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NormalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfferedPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BalanceAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeOfPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TermsAndCondition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceviedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiptNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Particular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NormalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfferedPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BalanceAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModeOfPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TermsAndCondition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceviedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InId })
        </td>
    </tr>
}

</table>
