﻿@model HLTERP.Models.InvoiceBilling

@{
    ViewBag.Title = "Print";
}

<h2>Receipt</h2>

<table border="3">
    <tr>
        <td>
            <strong>
                Name:
            </strong>
        </td>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
        <td>
            <strong>
                Receipt No:
            </strong>
        </td>

        <td>
            @Html.DisplayFor(model => model.ReceiptNo)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Address:
            </strong>
        </td>
        <td>
            @Html.DisplayFor(model => model.Address)
        </td>
        <td>
            <strong>
                Date:
            </strong>
        </td>

        <td>
            @Html.DisplayFor(model => model.Date)
        </td>
    </tr>

    <tr>
        <td>
            <strong>
                Contact Num:
            </strong>
        </td>
        <td>
            @Html.DisplayFor(model => model.ContactNum)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Email Id:
            </strong>
        </td>
        <td>
            @Html.DisplayFor(model => model.EmailId)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Particular:
            </strong>
        </td>
        <td>
            <strong>
                Normal Price:
            </strong>
        </td>
        <td>
            <strong>
                Offered Price:
            </strong>
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Particular)
        </td>
        <td>
            @Html.DisplayFor(model => model.NormalPrice)
        </td>
        <td>
            @Html.DisplayFor(model => model.OfferedPrice)
        </td>
    </tr>

    <tr>

        <td>
            <strong>
                Total Amount:
            </strong>
        </td>
        <td>
            @Html.DisplayFor(model => model.TotalAmount)
        </td>
        <td>
            <strong>
                Balance Amount:
            </strong>
        </td>
        <td>
            @Html.DisplayFor(model => model.BalanceAmount)
        </td>
    </tr>

    <tr>
        <td>
            <strong>
                Mode Of Payment:
            </strong>
        </td>
        <td>
            @Html.DisplayFor(model => model.ModeOfPayment)
        </td>
        <td>
            <strong>
                Due Date:
            </strong>
        </td>

        <td>
            @Html.DisplayFor(model => model.DueDate)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Terms And Condition:
            </strong>
        </td>
        <td>
            1. Money once paid will not be refunded.<br />
            2.Students should strictly adhere to the batch timings specified during admission.<br />
            3.Students must follow all the rules and regulations of the company.<br />
            4.Students must pay the installments within deadlines,
            if not paid institution can term inate the course immedietly/take necessary action.<br />
            5.Sourcecode/any other delivaryables are provided only once the complete fee payment is done.<br />
            6.Hopelight Technologies accept no liability for delay of non fulfilment of
            any industrial dispute.Default by any subcontractor,strike,accident,fire scarcity of
            material or labour or flood,roit,terrrorism or any cause not directly within its control.<br />

        </td>
    </tr>
    <tr>
        <td>
            I Agree for above mentioned Terms and conditons:
        </td>
        <td><strong>Signature:</strong></td>

        <td>
            Recevied By:
        </td>
        <td><strong>Signature:</strong></td>

    </tr>

</table>
@Html.ActionLink("back", "Index")