﻿

@model IEnumerable<HLTERP.Models.FollowUp>
@foreach (var item in Model)
{
    <fieldset>
        <legend>Follow ups</legend>
        <table>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.date)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.date)
                    </div>
                </td>
                <td rowspan="2">
                   @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                   @Html.ActionLink("Details", "Details", new { id = item.id }) |
                   @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.comment)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.comment)
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.status)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.status)
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
}

@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.followId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.followId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>*@
