﻿@model HLTERP.Models.Enquiry

@{
    ViewBag.Title = "Index";
}

<h2>Follow Ups</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { Enqid = Model.Id },null)
</p>
@Html.Partial("_FollowUp", @Model.followup)