﻿@model IEnumerable<HLTERP.Models.Course>


    <li>@Html.ActionLink("Start Batch", "Index", "StartBatch")</li>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
<fieldset>
    <legend>Course</legend>
    <table>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.CourseName)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.CourseName)
                </div>
            </td>
            <td rowspan="2">
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CourseId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.FacultyName)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.FacultyName)
                </div>
            </td>
        </tr>
    </table>
</fieldset>
}
@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacultyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacultyName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CourseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CourseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CourseId })
        </td>
    </tr>
}

</table>*@
