﻿
@model IPagedList<HLTERP.Models.Enquiry>

<div id="EnquiryList">

    <div class="pagedlist" data-hlt-target="#EnquiryList">

@Html.PagedListPager(Model, page => Url.Action("index", new { page}),
                            PagedListRenderOptions.MinimalWithItemCountText)


    </div>
         @foreach (var item in Model) {
        <fieldset>
            <legend>Enquiry details</legend>
            <table>

                <tr >
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    @Html.ActionLink("Follow up", "Index", "FollowUp", new { id = item.Id }, null)
                </tr>
                <tr>

                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)

                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.Name)
                        </div>
                    </td>
                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().TimeRequested)
                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.TimeRequested)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.Date)
                        </div>
                    </td>
                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().ContactNum)
                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.ContactNum)
                        </div>
                    </td>
                </tr>


                <tr>
                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Course)
                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.Course)
                        </div>
                    </td>
                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().EmailId)
                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.EmailId)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Duration)
                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.Duration)
                        </div>
                    </td>
                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().EnquiryHandledBy)
                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.EnquiryHandledBy)
                        </div>
                    </td>
                </tr>


                <tr></tr>


                <tr></tr>
                <tr></tr>

                <tr></tr>


                <tr>
                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().CourseRecommended)
                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.CourseRecommended)
                        </div>
                    </td>
                </tr>

            </table>

        </fieldset>
}
</div>