﻿@model HLTERP.Models.Enquiry

@{
    ViewBag.Title = "Create";
}

<h2>Create Enquiry</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Enquiry create</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EducationLevel)
        </div>
        <div class="editor-field">
           
            @Html.RadioButtonFor(model => model.EducationLevel, "Primary", true) Primary School<br />
            @Html.RadioButtonFor(model => model.EducationLevel, "HighSchool", false) High School<br /> 
            @Html.RadioButtonFor(model => model.EducationLevel, "U.G", false) U.G <br />
            @Html.RadioButtonFor(model => model.EducationLevel, "P.G", false) P.G<br/>
            @Html.RadioButtonFor(model => model.EducationLevel, "Employee", false) Employee<br/>
           
            @Html.ValidationMessageFor(model => model.EducationLevel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Course)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Course)
            @Html.ValidationMessageFor(model => model.Course)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Duration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Duration)
            @Html.ValidationMessageFor(model => model.Duration)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JoinPurpose)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JoinPurpose)
            @Html.ValidationMessageFor(model => model.JoinPurpose)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HowKnownAboutHlt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HowKnownAboutHlt)
            @Html.ValidationMessageFor(model => model.HowKnownAboutHlt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TimeRequested)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeRequested)
            @Html.ValidationMessageFor(model => model.TimeRequested)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DemoFeedback)
        </div>
        <div class="editor-field">
          
            @Html.RadioButtonFor(model => model.DemoFeedback, "Excellent", true) Excellent<br />
            @Html.RadioButtonFor(model => model.DemoFeedback, "Good", false) Good<br />
            @Html.RadioButtonFor(model => model.DemoFeedback, "Average", false) Average<br />
            @Html.RadioButtonFor(model => model.DemoFeedback, "Not Up to the Mark", false) Not Up To the Mark<br />
            @Html.ValidationMessageFor(model => model.DemoFeedback)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Infrastructure)
        </div>
        <div class="editor-field">
     
            @Html.RadioButtonFor(model => model.Infrastructure, "Excellent", true) Excellent<br />
            @Html.RadioButtonFor(model => model.Infrastructure, "Good", false) Good<br />
            @Html.RadioButtonFor(model => model.Infrastructure, "Average", false) Average<br />
            @Html.RadioButtonFor(model => model.Infrastructure, "Not Up to the Mark", false) Not Up To the Mark<br />
           
            @Html.ValidationMessageFor(model => model.Infrastructure)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactNum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactNum)
            @Html.ValidationMessageFor(model => model.ContactNum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmailId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailId)
            @Html.ValidationMessageFor(model => model.EmailId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpectedDateOfJoin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpectedDateOfJoin)
            @Html.ValidationMessageFor(model => model.ExpectedDateOfJoin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnquiryHandledBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnquiryHandledBy)
            @Html.ValidationMessageFor(model => model.EnquiryHandledBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PresentationGiven)
        </div>
        <div class="editor-field">
            
            @Html.RadioButtonFor(model => model.PresentationGiven, "yes", true)Yes<br />
            @Html.RadioButtonFor(model => model.PresentationGiven, "No", false)No<br /> 
            @Html.ValidationMessageFor(model => model.PresentationGiven)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DemoShown)
        </div>
        <div class="editor-field">
            
            @Html.RadioButtonFor(model =>model.DemoShown,"yes",true)Yes<br/>
            @Html.RadioButtonFor(model=>model.DemoShown,"No",false)No<br/>          
            @Html.ValidationMessageFor(model => model.DemoShown)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StudentFeedback)
        </div>
        <div class="editor-field">
         
            @Html.RadioButtonFor(model => model.StudentFeedback, "Excellent", true) Excellent<br />
            @Html.RadioButtonFor(model => model.StudentFeedback, "Good", false) Good<br />
            @Html.RadioButtonFor(model => model.StudentFeedback, "Average", false) Average<br />
            @Html.RadioButtonFor(model => model.StudentFeedback, "Not Up to the Mark", false) Not Up To the Mark<br />
            @Html.ValidationMessageFor(model => model.StudentFeedback)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CourseRecommended)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CourseRecommended)
            @Html.ValidationMessageFor(model => model.CourseRecommended)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LikeToJoin)
        </div>
        <div class="editor-field">
            
            @Html.RadioButtonFor(model => model.LikeToJoin, "yes", true)Yes<br />
            @Html.RadioButtonFor(model => model.LikeToJoin, "No", false)No<br /> 
            @Html.ValidationMessageFor(model => model.LikeToJoin)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
   }
