﻿@model HLTERP.Models.Enquiry

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend> Delete Enquiry</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Educationlevel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Educationlevel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Course)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Course)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Duration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JoinPurpose)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JoinPurpose)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HowKnownAboutHlt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HowKnownAboutHlt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeRequested)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeRequested)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DemoFeedback)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DemoFeedback)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Infrastructure)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Infrastructure)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmailId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExpectedDateOfJoin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpectedDateOfJoin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EnquiryHandledBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnquiryHandledBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PresentationGiven)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PresentationGiven)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DemoShown)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DemoShown)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StudentFeedback)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StudentFeedback)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CourseRecommended)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseRecommended)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LikeToJoin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LikeToJoin)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
