﻿@model HLTERP.Models.Enquiry

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Enquiry details</legend>
    <table>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Date)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Date)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Address)
                </div>
            </th>
            <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Address)
            </div>
                </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Educationlevel)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Educationlevel)
                </div>
            </td>
            
        </tr>
        <tr>
            <th>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Course)
            </div>
                </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Course)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Duration)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Duration)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.JoinPurpose)
                </div>
            </th>
            <td>

                <div class="display-field">
                    @Html.DisplayFor(model => model.JoinPurpose)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.HowKnownAboutHlt)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.HowKnownAboutHlt)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.TimeRequested)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.TimeRequested)
                </div>
            </td>
        </tr>
        <tr>
            <th>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.DemoFeedback)
            </div>
                </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.DemoFeedback)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Infrastructure)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Infrastructure)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.ContactNum)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.ContactNum)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.EmailId)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.EmailId)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.ExpectedDateOfJoin)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.ExpectedDateOfJoin)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.EnquiryHandledBy)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.EnquiryHandledBy)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.PresentationGiven)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.PresentationGiven)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.DemoShown)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.DemoShown)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.StudentFeedback)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.StudentFeedback)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.CourseRecommended)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.CourseRecommended)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.LikeToJoin)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.LikeToJoin)
                </div>
            </td>
        </tr>
    </table>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
