﻿@model IPagedList<HLTERP.Models.Enquiry>

@{
    ViewBag.Title = "Index";
}

<h2>Enquiry Details</h2>


@*@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "EnquiryList"
    }))
{ 

      <input type="search" name="name" />
    <input type="submit" value="Searcn By Name"/>



}*@ 

    <form method="get" action="@Url.Action("Index")"
      data-hlt-ajax="true" data-hlt-target="#EnquiryList">

    <input type="search" name="name" data-hlt-autocomplete="@Url.Action("AutoComplete")" />
    <input type="submit" value="Searcn By Name" />

</form>
          @Html.ActionLink("Create New", "Create")</p>

@Html.Partial("_Enquiries", Model)

