﻿@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>HLT</h2>
</hgroup>


   <pre style="font-size:14px">
     The Journey of Hope light Technologies(HLT) began with a motto of providing Future proof Software solutions 
and Real time Training in the Field of  Information Technology in the year 2013.We are now an ISO 9001:2008 Certified
company and also recognized by the TOP colleges in the locality for best Real time Training.We at HLT Use our enhanced
Innovative software training delivery methodologies, Strategic ways of working and industry expertise to Deliver high
quality Future Proof solutionsand to shape the achievers in ever changing Software industry.We are located in Bengalure
where IT lives and also in Educational city Tumkur.
       
</pre>

        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>