﻿@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title Us</h1>
    <h2></h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Contact number</h3>
    </header>
    <p>
        <span>8123546806</span>
    </p>
   
</section>

<section class="contact">
    <header>
        <h3>Website Address</h3>
    </header>
    <p>
        <span><a href="http://www.hopelight.in" rel="develop">www.hopelight.in</a>
    </p>
    <header>
        <h3>Email Address</h3>
    </header>
    <p>
        <span><a href="mailTo:info@hopelight.in">info@hopelight.in</a></span>
    </p>
   
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Tumkur Branch: Tumkur 2nd floor 4th cross M.G road Tumkur 572010.
    </p>
    <p>
        Bengaluru Branch: Bengaluru 1st floor purvi meadows opp Meghana Hospital Hoodi Circle Whitefield Mani road Bangalore 48.Landmark :City super Bazar 
    </p>
</section>