﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Hope Light Technologies</h1>
                <p style="font-size:12px;margin-left:250px"><em>achieve impossible</em></p>
            </hgroup>
            
        </div>
    </section>
}
<h3></h3>
<table>
    <tr>
        <td>
            <class ="one">
                <h6>Our Mission</h6>
                ” To Provide top Quality solutions to our customers with innovative, well-defined and strategic
                ways of approach & To Enlighten People with 100% Real time Exposure “.
        </td>
        <td rowspan="2"><img src="~/Images/HLT%20Tree.png" height="400px" width="200px" /></td>
    </tr>

    <tr>
        <td>
            <class ="two">
                <h6>Our Vision</h6>
                “To provide world class solutions to our customers with well-defined strategic
                and high quality ways of Working& To Shape achievers by incorporating Innovative and 100% Real-time Time Training ”.
        </td>
    </tr>
</table>   
    

    
