﻿@{
    ViewBag.Title = "FileUpload";
}

<h2>Upload File Here</h2>
@using (Html.BeginForm("FileUpload", "FileUpload", FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload:</label>
    <input type="file" name="file" id="file" /><br><br>
    <input type="submit" value="Upload" />
    <br><br>
    @ViewBag.Message
}