﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Hope Light Technologies</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <img src="~/Images/only_hlt(no%20backgroung).png" height="100px" width="100px"  />
                
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Enquiry", "Index", "Enquiry")</li>
                            
                            <li>@Html.ActionLink("Invoice", "Index", "InvoiceBilling")</li>
                            <li>@Html.ActionLink("Paidin", "Index", "Paidin")</li>
                            <li>@Html.ActionLink("Paidout", "Index", "Paidout")</li>
                            @*<li>@Html.ActionLink("Start Batch", "Index", "StartBatch")</li>*@
                            <li>@Html.ActionLink("Admission", "Index", "Admissions")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <center>Copyright &copy; 2015. Template by <a href="http://www.hopelight.in" rel="develop">www.hopelight.in</a></center>
        </footer>

        @Scripts.Render("~/bundles/HLTERP")
        @RenderSection("scripts", required: false)
    </body>
</html>
