﻿@model HLTERP.Models.Faculty

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Faculty</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FacultyName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FacultyName)
            @Html.ValidationMessageFor(model => model.FacultyName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FacultyQulification)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FacultyQulification)
            @Html.ValidationMessageFor(model => model.FacultyQulification)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Experiance)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Experiance)
            @Html.ValidationMessageFor(model => model.Experiance)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmailId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailId)
            @Html.ValidationMessageFor(model => model.EmailId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactNum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactNum)
            @Html.ValidationMessageFor(model => model.ContactNum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Adderess)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Adderess)
            @Html.ValidationMessageFor(model => model.Adderess)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SalaryOffered)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SalaryOffered)
            @Html.ValidationMessageFor(model => model.SalaryOffered)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BatchHandling)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BatchHandling)
            @Html.ValidationMessageFor(model => model.BatchHandling)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CourseHandling)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CourseHandling)
            @Html.ValidationMessageFor(model => model.CourseHandling)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    
}
