﻿@model HLTERP.Models.Faculty

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Faculty</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FacultyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FacultyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FacultyQulification)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FacultyQulification)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Experiance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Experiance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmailId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Adderess)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Adderess)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SalaryOffered)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SalaryOffered)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BatchHandling)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BatchHandling)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CourseHandling)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseHandling)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
