﻿@model HLTERP.Models.Faculty

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Faculty</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FacultyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FacultyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FacultyQulification)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FacultyQulification)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Experiance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Experiance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmailId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Adderess)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Adderess)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SalaryOffered)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SalaryOffered)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BatchHandling)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BatchHandling)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CourseHandling)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseHandling)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.FacultyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
