﻿@model IEnumerable<HLTERP.Models.Faculty>

@{
    ViewBag.Title = "Index";
}

<h2>Faculties List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach(var item in Model)
{ 
<fieldset>
    <legend>Faculty</legend>
    <table>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.FacultyName)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.FacultyName)
                </div>
            </td>
            <td rowspan="9">
                @Html.ActionLink("Edit", "Edit", new { id = item.FacultyId }) |
                @Html.ActionLink("Details", "Details", new { id = item.FacultyId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FacultyId })
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.FacultyQulification)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.FacultyQulification)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Experiance)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.Experiance)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.EmailId)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.EmailId)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.ContactNum)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.ContactNum)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Adderess)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.Adderess)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.SalaryOffered)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.SalaryOffered)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.BatchHandling)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.BatchHandling)
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.CourseHandling)
                </div>
            </th>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.CourseHandling)
                </div>
            </td>
        </tr>
    </table>
</fieldset>
}
@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FacultyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacultyQulification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Experiance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adderess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalaryOffered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatchHandling)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseHandling)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FacultyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacultyQulification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Experiance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adderess)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalaryOffered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatchHandling)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseHandling)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FacultyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FacultyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FacultyId })
        </td>
    </tr>
}

</table>*@
