﻿@model HLTERP.Models.Student

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Student</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.StudentName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StudentName)
            @Html.ValidationMessageFor(model => model.StudentName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.courseName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.courseName)
            @Html.ValidationMessageFor(model => model.courseName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EducationLevel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EducationLevel)
            @Html.ValidationMessageFor(model => model.EducationLevel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CollegeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CollegeName)
            @Html.ValidationMessageFor(model => model.CollegeName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.contactNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.contactNo)
            @Html.ValidationMessageFor(model => model.contactNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StudentAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StudentAddress)
            @Html.ValidationMessageFor(model => model.StudentAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StudentDOB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StudentDOB)
            @Html.ValidationMessageFor(model => model.StudentDOB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StudentAge)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StudentAge)
            @Html.ValidationMessageFor(model => model.StudentAge)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
   
}
