﻿@model HLTERP.Models.Student

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Student</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StudentName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StudentName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.courseName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.courseName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EducationLevel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EducationLevel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CollegeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CollegeName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contactNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contactNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StudentAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StudentAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StudentDOB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StudentDOB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StudentAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StudentAge)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
