﻿@model HLTERP.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Student</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StudentName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StudentName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.courseName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.courseName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EducationLevel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EducationLevel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CollegeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CollegeName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contactNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contactNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StudentAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StudentAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StudentDOB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StudentDOB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StudentAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StudentAge)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.StudentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
