﻿@model IEnumerable<HLTERP.Models.Paidout>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <fieldset>
        <legend>Paidin</legend>
        <table>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.Date)
                    </div>
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td rowspan="6">
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.Reason)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.Reason)
                    </div>
                </td>

            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.Amount)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.Amount)
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.PaidBy)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.PaidBy)
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.PaidTo)
                    </div>
                </th>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.PaidTo)
                    </div>
                </td>
            </tr>
            

        </table>
    </fieldset>
}

@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidTo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaidBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaidTo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>*@
