﻿@model IPagedList<HLTERP.Models.Invoice>

<div id="InvoiceList">

    <div class="pagedlist" data-hlt-target="#InvoiceList">

        @Html.PagedListPager(Model, page => Url.Action("index", new { page }),
                            PagedListRenderOptions.MinimalWithItemCountText)
        </div>
    @foreach (var item in Model)
    {
        <fieldset>
            <legend>Invoice</legend>

            <table>
                <tr>
                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.Name)
                        </div>
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ReceiptNo }) |
                        @Html.ActionLink("Print", "Print", new { id = item.ReceiptNo }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ReceiptNo })

                    </td>

                </tr>
                <tr>
                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().ReceiptNo)
                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.Address)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Address)
                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.Address)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.Date)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().ContactNum)
                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.ContactNum)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().EmailId)
                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.EmailId)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Particular)
                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.Particular)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().NormalPrice)
                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.NormalPrice)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().OfferedPrice)
                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.OfferedPrice)
                        </div>
                    </td>
                </tr>
                <tr>

                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().TotalAmount)
                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().BalanceAmount)
                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.BalanceAmount)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().ModeOfPayment)
                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.ModeOfPayment)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().DueDate)
                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.DueDate)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().TermsAndCondition)
                        </div>
                    </th>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.TermsAndCondition)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().ReceviedBy)
                        </div>
                    </th>

                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(modelItem => item.ReceviedBy)
                        </div>
                    </td>
                </tr>
            </table>
        </fieldset>
    }




