﻿@model HLTERP.Models.Invoice

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Invoice</legend>
        <div class="editor-label">
            ReceiptNo
        </div>
          <div class="editor-field">
            @Html.EditorFor(model => model.ReceiptNo)
            @Html.ValidationMessageFor(model => model.ReceiptNo)
        </div>
        <div class="editor-label">
           Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            Address
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
           Date
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
           Contact Num
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactNum)
            @Html.ValidationMessageFor(model => model.ContactNum)
        </div>

        <div class="editor-label">
           Email Id
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailId)
            @Html.ValidationMessageFor(model => model.EmailId)
        </div>

        <div class="editor-label">
           Particular
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Particular)
            @Html.ValidationMessageFor(model => model.Particular)
        </div>

        <div class="editor-label">
           Normal Price
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NormalPrice)
            @Html.ValidationMessageFor(model => model.NormalPrice)
        </div>

        <div class="editor-label">
           Offered Price
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfferedPrice)
            @Html.ValidationMessageFor(model => model.OfferedPrice)
        </div>

        <div class="editor-label">
           Total Amount
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TotalAmount)
            @Html.ValidationMessageFor(model => model.TotalAmount)
        </div>

        <div class="editor-label">
            Balance Amount
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BalanceAmount)
            @Html.ValidationMessageFor(model => model.BalanceAmount)
        </div>

        <div class="editor-label">
            Mode Of Payment
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModeOfPayment)
            @Html.ValidationMessageFor(model => model.ModeOfPayment)
        </div>

        <div class="editor-label">
           Due Date
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DueDate)
            @Html.ValidationMessageFor(model => model.DueDate)
        </div>

        <div class="editor-label">
           Terms And Condition
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TermsAndCondition)
            @Html.ValidationMessageFor(model => model.TermsAndCondition)
        </div>

        <div class="editor-label">
           Recevied By
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReceviedBy)
            @Html.ValidationMessageFor(model => model.ReceviedBy)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Invoice")
</div>

@section Scripts {
   }
