﻿@model HLTERP.Models.Invoice

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Invoice</legend>

    <div class="display-label">
        Name
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        Address
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
        Date
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         Contact Number
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactNum)
    </div>

    <div class="display-label">
        Email Id
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailId)
    </div>

    <div class="display-label">
        Particular
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Particular)
    </div>

    <div class="display-label">
        Normal Price
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NormalPrice)
    </div>

    <div class="display-label">
        Offered Price
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OfferedPrice)
    </div>

    <div class="display-label">
        Total Amount
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalAmount)
    </div>

    <div class="display-label">
         Balance Amount
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BalanceAmount)
    </div>

    <div class="display-label">
        Mode Of Payment
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModeOfPayment)
    </div>

    <div class="display-label">
        Due Date
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DueDate)
    </div>

    <div class="display-label">
        Terms And Condition
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TermsAndCondition)
    </div>

    <div class="display-label">
        Recevied By
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReceviedBy)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Invoice")
    </p>
}
