﻿@model IPagedList<HLTERP.Models.Invoice>

@{
    ViewBag.Title = "Invoice";
}

<h2>Invoice</h2>

<p>
    <form method="get" action="@Url.Action("Index")"
          data-hlt-ajax="true" data-hlt-target="#InvoiceList">

        <input type="search" name="name" data-hlt-autocomplete="@Url.Action("AutoComplete")" />
        <input type="submit" value="Searcn By Name" />

    </form>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Partial("_Invoice", Model)